<div class="border px-8 py-4 flex flex-col items-start gap-4">

    <div class="w-full flex flex-col gap-2">
        <h4 class="text-xl font-semibold">Formulario de edicion</h4>
        <hr class="w-4/12 border-gray-400">
    </div>

    <form action="" class="w-full">
        <div class="box-area">
            <!-- Primer Nombre -->
            <div>
                <label for="firstName" class="font-semibold text-base">Primer nombre *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Segundo Nombre -->
            <div>
                <label for="secondName" class="font-semibold text-base">Segundo nombre</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Primer apellido -->
            <div>
                <label for="firstSurname" class="font-semibold text-base">Primer apellido *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Segundo apellido -->
            <div>
                <label for="secondSurname" class="font-semibold text-base">Segundo apellido</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Fecha de nacimiento -->
            <div>
                <label for="birthDate" class="font-semibold text-base">Fecha de nacimiento *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Tipo de documento -->
            <div>
                <label for="docType" class="font-semibold text-base">Tipo de documento *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Numero de documento -->
            <div>
                <label for="docNum" class="font-semibold text-base">Numero de documento *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Telefono -->
            <div>
                <label for="phone" class="font-semibold text-base">Numero de telefono *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Direccion -->
            <div>
                <label for="phone" class="font-semibold text-base">Direccion</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Correo electronico -->
            <div>
                <label for="email" class="font-semibold text-base">Correo electronico *</label>
                <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
            </div>

            <!-- Descripción del perfil -->
            <div>
                <label for="description" class="font-semibold text-base">Descripción del perfil</label>
                <textarea rows="10" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Describe la oferta"></textarea>
            </div>
        </div>

        <!-- Experiencia Laboral -->
        <div class="w-full flex flex-col gap-4">
            <div class="w-full flex flex-col gap-2">
                <h4 class="text-xl font-semibold">Experiencia Laboral</h4>
                <hr class="w-4/12 border-gray-400">
            </div>
            <div class="box-area">
                <!-- Cargo -->
                <div>
                    <label for="position" class="font-semibold text-base">Cargo</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Empresa -->
                <div>
                    <label for="company" class="font-semibold text-base">Empresa</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Fecha de inicio -->
                <div>
                    <label for="startDate" class="font-semibold text-base">Fecha de incio</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Segundo apellido -->
                <div>
                    <label for="endDate" class="font-semibold text-base">Fecha de finalizacion</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Descripción del cargo -->
                <div>
                    <label for="positionDescription" class="font-semibold text-base">Descripción del cargo</label>
                    <textarea rows="10" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Describe la oferta"></textarea>
                </div>
            </div>
        </div>

        <!-- Educacion -->
        <div class="w-full flex flex-col gap-4">
            <div class="w-full flex flex-col gap-2">
                <h4 class="text-xl font-semibold">Educacion</h4>
                <hr class="w-4/12 border-gray-400">
            </div>
            <div class="box-area">
                <!-- Universidad -->
                <div>
                    <label for="university" class="font-semibold text-base">Universidad</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Carrera -->
                <div>
                    <label for="degree" class="font-semibold text-base">Carrera</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Fecha de inicio -->
                <div>
                    <label for="startDate" class="font-semibold text-base">Fecha de incio</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>

                <!-- Fecha de finalizacion  -->
                <div>
                    <label for="endDate" class="font-semibold text-base">Fecha de finalizacion</label>
                    <input type="text" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"/>
                </div>
            </div>
        </div>
    </form>
</div>