<main class="w-full flex flex-col justify-center items-center py-4 fluid-horizontal-padding">
    <h1 class="text-3xl font-semibold">Crear oferta</h1>
    <p class="text-gray-500">Completa el formulario con ayuda de nuestros consejos</p>

    <div class="w-full flex flex-row gap-4 mt-10 px-12">

        <!-- Contenedor de consejos y recordatorios  -->
        <div class="w-3/12 flex flex-col gap-4">

            <!-- Consejos -->
            <div class="border rounded-xl px-8 py-4 flex flex-col items-start gap-4">
                <div class="flex flex-row gap-2 justify-center items-center ">
                    <i class="pi pi-lightbulb text-yellow-500"></i>
                    <h4 class="text-lg font-semibold">Consejos</h4>
                </div>

                <div class="flex flex-col gap-2">
                    <h4 class="font-semibold">Consejos generales</h4>

                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Completa todos los campos requeridos</p>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Revisa la información antes de enviar</p>
                    </div>
                        
                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Usa información precisa y actualizada</p>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Considera cómo verán otros tu información</p>
                    </div>

                    <h4 class="font-semibold">Nota</h4>
                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-info-circle mt-1 text-blue-500"></i>
                        <p class="text-blue-500">Haz clic en cualquier campo para ver consejos específicos</p>
                    </div>

                </div>
            </div>

            <!-- Recordatorios -->
            <div class="border rounded-xl px-8 py-4 flex flex-col items-start gap-4">
                <div class="flex flex-row gap-2 justify-center items-center ">
                    <i class="pi pi-lightbulb text-yellow-500"></i>
                    <h4 class="text-lg font-semibold">Recordatorios</h4>
                </div>

                <div class="flex flex-col gap-2">
                    <h4 class="font-semibold">Consejos generales</h4>

                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Completa todos los campos requeridos</p>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Revisa la información antes de enviar</p>
                    </div>
                        
                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Usa información precisa y actualizada</p>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-check-circle mt-1 text-green-500"></i>
                        <p class="text-gray-500">Considera cómo verán otros tu información</p>
                    </div>


                    <h4 class="font-semibold">Nota</h4>
                    <div class="flex flex-row gap-2 items-start">
                        <i class="pi pi-info-circle mt-1 text-blue-500"></i>
                        <p class="text-blue-500">Haz clic en cualquier campo para ver consejos específicos</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Formulario  -->
        <div class="w-6/12 border rounded-xl px-8 py-4 flex flex-col items-start gap-4">
            <div>
                <h4 class="text-lg font-semibold">Informacion de la oferta</h4>
                <p class="text-gray-500">
                    Queremos ayudarte a crear una oferta atractiva. Asegúrate de llenar correctamente cada campo, 
                    proporcionando datos claros y reales. ¡Una buena descripción genera más 
                    interés!
                </p>
            </div>

            <form class="w-full flex flex-col gap-4">

                <!-- Imagenes de la oferta -->
                <div>
                <label for="images" class="font-semibold text-base block mb-1">Imágenes de la oferta (máx. 4)</label>

                <label class="w-full flex flex-col justify-center items-center py-4 gap-2 border-2 border-dashed rounded-lg cursor-pointer bg-gray-100">
                    <i class="pi pi-cloud-upload text-4xl text-gray-500"></i>
                    <p class="text-gray-600">Haz click para subir imágenes</p>
                    <p class="text-gray-600">PNG, JPG, JPEG</p>
                    <input
                    type="file"
                    id="images"
                    class="hidden"
                    accept="image/png, image/jpeg"
                    multiple
                    (change)="handleImageUpload($event)"
                    />
                </label>

                @if(previewUrls.length){
                    <div class="mt-4 grid grid-cols-2 md:grid-cols-4 gap-4">
                        @for(img of previewUrls; track $index) {
                        <div class="relative group">
                            <img [src]="img" alt="Vista previa" class="w-full h-auto object-cover rounded" />
                            <div class="absolute inset-0 bg-red-400 bg-opacity-40 opacity-0 group-hover:opacity-100 transition duration-300 rounded flex items-center cursor-pointer justify-center" (click)="removeImage($index)">
                                <span class="text-white font-semibold">Eliminar</span>
                            </div>
                        </div>
                        }
                    </div>
                }
                </div>
                
                <div>
                    <label for="title" class="font-semibold text-base">Título de la oferta *</label>
                    <input type="text" id="title" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta">
                </div>

                <div>
                    <label for="description" class="font-semibold text-base">Descripción de la oferta *</label>
                    <textarea id="description" rows="10" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa el título de la oferta"></textarea>
                </div>

                <!-- Tags de la oferta -->
                <div>
                    <label for="tecnologies" class="font-semibold text-base">Tecnologias para la oferta</label>
                    <input type="text" id="tecnology" (keyup)="search()" [(ngModel)]="searchTecnology" [ngModelOptions]="{standalone: true}" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa las tecnologias">

                    <ul class="rounded-lg mt-2 [&>li]:cursor-pointer">
                        @for(tecnology of filteredTecnologies; track tecnology) {
                            <li class="px-2 py-2 hover:bg-blue-50 border-x" (click)="selectTecnology(tecnology)">{{tecnology.name}}</li>
                        }
                    </ul>
                    
                    <div class="w-full flex flex-wrap gap-3">
                        @for(item of selectedTecnologies; track item.name) {
                            <span class="text-sm inline-block mt-2 bg-green-200 px-2 py-1 rounded-lg cursor-pointer" (click)="removeTecnology(item)">{{ item.name }}
                                <i class="pi pi-times-circle text-[12px]"></i>
                            </span>
                        }
                    </div>
                </div>

                <div class="flex flex-row justify-between gap-4 items-center">
                    <div class="w-full">
                        <label for="pay" class="font-semibold text-base">Remuneración *</label>
                        <input type="text" id="pay" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa la remuneración">
                    </div>

                    <div class="w-full">
                        <label for="pay" class="font-semibold text-base">Vacantes *</label>
                        <input type="text" id="pay" class="w-full rounded-lg border border-gray-300 px-2 py-1 mt-1" placeholder="Ingresa las vacantes">
                    </div>
                </div>
                
                <button class="bg-black py-2 px-5 mt-2 rounded-xl font-bold text-white">Ingresar</button>
            </form>
        </div>

        <!-- Vista previa de la oferta -->
        <div class="w-3/12">
            <div class="w-full h-auto"> 
                
                <div>
                    <img src="images/img2.jpg" alt="" class="w-full h-full object-cover rounded-t-xl">
                </div>

                <div class="border rounded-b-xl"> 
                    <div class="w-full flex flex-col gap-1 py-3 px-4">
                        <h4 class="font-semibold text-xl">Advanced card</h4>
                        <span class="text-gray-400">Lorem ipsum dolor sit</span>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione natus molestiae provident itaque possimus iusto eum perferendis, id corrupti voluptate beatae, Lorem ipsum dolor sit amet, consectetur</p>
                    </div>

                    <div class="w-full h-8/12 flex gap-1 py-3 px-4">
                        <button class="w-full py-2 px-6 border rounded-2xl bg-[rgb(20,20,20)] text-white">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>