<main class="w-full h-screen flex flex-col items-center gap-20 fluid-horizontal-padding-register-section py-4">

    <div class="w-full h-auto cursor-pointer" [routerLink]="['/home']">
        <svg viewBox="0 0 24 24" width="50px" height="50px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 4V20M8 12H20M8 12L12 8M8 12L12 16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </div>

    <div class="w-6/12 h-auto mt-auto items-center bg-white shadow-2xl rounded-3xl box-area">        

        <div class="w-full h-full flex flex-col items-center gap-8 rounded-r-2xl px-6 py-6">
            <div class="flex flex-col items-center">
                <h1 class="text-3xl font-semibold">Formulario de ingreso</h1>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full h-auto flex flex-col gap-3 items-center" action="">

                <!-- Correo electrónico -->
                <div class="input-wrapper">
                    <input type="text" formControlName="email" placeholder="Correo electrónico" class="customize-input" maxlength="80">
                    <span class="input-message w-full">
                        @if(loginForm.get("email")?.invalid && loginForm.get("email")?.touched) {
                            @if(loginForm.get("email")?.hasError("required")) {
                                Este campo es obligatorio
                            }

                            @if(loginForm.get("email")?.hasError("email")) {
                                El formato de correo no es correcto
                            }
                        }
                    </span>
                </div>

                <div class="input-wrapper">
                    <input type="password" formControlName="password" placeholder="Contraseña" class="customize-input">
                    <span class="input-message">
                        @if(loginForm.get("password")?.invalid && loginForm.get("password")?.touched) {
                            @if(loginForm.get("password")?.hasError("required")) {
                                Este campo es obligatorio
                            }

                            <!-- @if(loginForm.get("password")?.hasError("pattern")) {
                                El formato es incorrecto
                            } -->
                        }
                    </span>
                </div>

                    <button type="submit" class="bg-blue-400 py-2 px-5 rounded-xl font-bold text-white">Ingresar</button>

                <p>No tienes cuenta? <a [routerLink]="['/register']">Registrate</a></p>
            </form>
        </div>

        <div class="w-full h-full bg-blue-400 flex flex-col justify-center items-center py-6 rounded-3xl rounded-bl-[500px] rounded-tl-[0px]">
            <div class="flex flex-col items-center px-6 text-white">
                <h1 class="text-3xl font-semibold">Hola mundo</h1>
                <p>rum animi rem corrupti voluptate nostrum reprehenderit veniam</p>
            </div>

            <div class="flex flex-col items-center">
                <img src="images/img-dev.webp" alt="">
            </div>
        </div>
    </div>

    <div class="w-full h-auto mt-auto flex gap-1 justify-end">
        <img src="icons/Logo.svg" alt="logo" class="w-10 h-10 cursor-pointer">
        <p class="text-3xl font-bold">Emprendev</p>
    </div>
</main>
