<main class="w-full h-auto fluid-horizontal-padding pt-3 flex flex-col items-center gap-8 pb-5">
    <p class="text-5xl">Nuestros servicios</p>

    <div class="card h-auto bg-green-50 flex flex-col gap-2 rounded-xl py-5 px-10">
       
        <h4 class="text-2xl">¿Que puedo hacer como desarrollador?</h4>

        <div class="flex flex-row justify-between gap-30">

            <div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas repellat provident 
                porro blanditiis! Dicta ex fugit porro, aliquid reiciendis modi non deleniti, quisquam, dolorum
                aut amet veritatis odio quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas 
                ipsa eos in, architecto nihil veritatis eum, autem placeat officiis accusamus totam eligendi laboriosam
                nisi. Rerum doloribus nesciunt nostrum! Inventore magnam libero voluptas explicabo dignissimos sequi dicta
                labore qui eaque. Temporibus perferendis facilis architecto amet assumenda id unde enim est illo.
            </p>
            <br>
            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas repellat provident 
                porro blanditiis! Dicta ex fugit porro, aliquid reiciendis modi non deleniti, quisquam, dolorum
                aut amet veritatis odio quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas 
                ipsa eos in, architecto nihil veritatis eum, autem placeat officiis accusamus totam eligendi laboriosam
                nisi. Rerum doloribus nesciunt nostrum! Inventore magnam libero voluptas explicabo dignissimos sequi dicta
                labore qui eaque. Temporibus perferendis facilis architecto amet assumenda id unde enim est illo.
            </p>
            </div>

            <img src="images/img-dev.webp" alt="" width="700px" class="-mt-12">
        </div>
    </div>


    <div class="card h-auto bg-green-50 flex flex-col gap-2 rounded-xl py-5 px-10">

        <div class="flex flex-row justify-between gap-30">
            <img src="images/img-dev.webp" alt="" width="700px" class="-mt-4">
            
            <div>
                <h4 class="text-2xl">¿Que puedo hacer como Mipyme?</h4>
            
                <p class="mt-2">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas repellat provident 
                    porro blanditiis! Dicta ex fugit porro, aliquid reiciendis modi non deleniti, quisquam, dolorum
                    aut amet veritatis odio quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas 
                    ipsa eos in, architecto nihil veritatis eum, autem placeat officiis accusamus totam eligendi laboriosam
                    nisi. Rerum doloribus nesciunt nostrum! Inventore magnam libero voluptas explicabo dignissimos sequi dicta
                    labore qui eaque. Temporibus perferendis facilis architecto amet assumenda id unde enim est illo.
                </p>

                <br>

                <p> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quas repellat provident 
                    porro blanditiis! Dicta ex fugit porro, aliquid reiciendis modi non deleniti, quisquam, dolorum
                    aut amet veritatis odio quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas 
                    ipsa eos in, architecto nihil veritatis eum, autem placeat officiis accusamus totam eligendi laboriosam
                    nisi. Rerum doloribus nesciunt nostrum! Inventore magnam libero voluptas explicabo dignissimos sequi dicta
                    labore qui eaque. Temporibus perferendis facilis architecto amet assumenda id unde enim est illo.
                </p>
            </div>
        </div>
    </div>


    <!-- Made with Emprendev -->
    <h4 class="text-4xl">Hecho con Emprendev</h4>
    <div class="images-gallery-container">
        <div style="--row-span: 2">
            <img src="images/gallery1.jpg" alt="">
        </div>
        <div style="--row-span: 1">
            <img src="images/gallery1.jpg" alt="">
        </div>
        <div style="--row-span: 1">
            <img src="images/gallery2.jfif" alt="">
        </div>
        <div style="--row-span: 2">
            <img src="images/gallery3.jpg" alt="">
        </div>
        <div style="--row-span: 1">
            <img src="images/gallery3.jpg" alt="">
        </div>
        <div style="--row-span: 1">
            <img src="images/gallery4.jpg" alt="">
        </div>
        <div style="--row-span: 2">
            <img src="images/gallery5.png" alt="">
        </div>
        <div style="--row-span: 1">
            <img src="images/gallery6.jfif" alt="">
        </div>
                <div style="--row-span: 2">
            <img src="images/gallery6.jfif" alt="">
        </div>
                <div style="--row-span: 1">
            <img src="images/gallery6.jfif" alt="">
        </div>
                <div style="--row-span: 2">
            <img src="images/gallery3.jpg" alt="">
        </div>
    <!-- puedes seguir agregando imágenes -->
    </div>

</main>
