<div class="w-full h-full flex flex-wrap gap-2 justify-center">
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
    <button class="py-2 px-6 border rounded-xl">Filtro</button>
</div>