<div class="bg-[rgb(20,20,20)] p-6 flex flex-col gap-3 rounded-lg">
    
    <div class="w-full flex flex-row items-center gap-5">
        <div class="w-32 h-32 rounded-full border-4 border-white shadow-xl">
            <img src="images/img2.jpg" alt="" class="w-full h-full object-cover rounded-full">
        </div>

        <div class="flex flex-col">
            <h3 class="text-xl font-semibold text-white">Alexis Sanchez Osorio</h3>
            <span class="text-gray-400">Web Developer</span>
        </div>
    </div>

    <div class="flex flex-col gap-3 [&_span]:text-white  [&_p]:text-gray-400">

        <div class="flex flex-col gap-2">
            <h4 class="text-xl font-semibold text-white">Datos personales</h4>
            <hr class="w-8/12 border-gray-400">
        </div>
        <div class="w-full box-area">
            <div>
                <span>Fecha de nacimiento</span>
                <p>Example</p>
            </div>
            <div>
                <span>Tipo de documento</span>
                <p>Example</p>
            </div>
            <div>
                <span>Numero de documento</span>
                <p>Example</p>
            </div>
            <div>
                <span>Telefono</span>
                <p>Example</p>
            </div>
            <div>
                <span>Direccion</span>
                <p>Example</p>
            </div>
            <div>
                <span>Correo</span>
                <p>ExampleGmail.com</p>
            </div>

            <div>
                <span>Descripcion</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veniam minus sed magnam est corrupti dolore repudiandae, assumenda mollitia possimus veritatis recusandae sunt deserunt maiores placeat molestias. Vero praesentium assumenda voluptatum earum autem delectus sed natus quidem minus quasi quo, beatae saepe et. Neque quae quasi architecto officiis doloribus fugiat?</p>
            </div>
        </div>

        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-2">
                <h4 class="text-xl font-semibold text-white">Experiencia laboral</h4>
                <hr class="w-8/12 border-gray-400">
            </div>

            <div class="w-full box-area">
                <div>
                    <span>Cargo</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Empresa</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Fecha de inicio</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Fecha de finalizacion</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Descripcion</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veniam minus sed magnam est corrupti dolore repudiandae, assumenda mollitia possimus veritatis recusandae sunt deserunt maiores placeat molestias. Vero praesentium assumenda voluptatum earum autem delectus sed natus quidem minus quasi quo, beatae saepe et. Neque quae quasi architecto officiis doloribus fugiat?</p>
                </div>
            </div>

        </div>

        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-2">
                <h4 class="text-xl font-semibold text-white">Educacion</h4>
                <hr class="w-8/12 border-gray-400">
            </div>

            <div class="w-full box-area">
                <div>
                    <span>Universidad</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Carrera</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Fecha de inicio</span>
                    <p>Example</p>
                </div>
                <div>
                    <span>Fecha de finalizacion</span>
                    <p>Example</p>
                </div>
                
                <div>
                <span>Descripcion</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veniam minus sed magnam est corrupti dolore repudiandae, assumenda mollitia possimus veritatis recusandae sunt deserunt maiores placeat molestias. Vero praesentium assumenda voluptatum earum autem delectus sed natus quidem minus quasi quo, beatae saepe et. Neque quae quasi architecto officiis doloribus fugiat?</p>
            </div>
            </div>

        </div>
    </div>

</div>