<main class="w-full h-screen flex flex-col items-center gap-20 fluid-horizontal-padding-form py-4">

    <div class="w-full h-auto">
        <button class="bg-black py-2 px-5 rounded-xl font-bold text-white">Ingresar</button>
    </div>

    <div class="w-8/12 h-[150rem] mt-auto box-area items-center bg-white shadow-2xl rounded-3xl">        
        <div class="w-full h-full bg-blue-400 flex flex-col justify-center items-center py-6 rounded-3xl rounded-br-[500px] rounded-tr-[0px]">
            <div class="flex flex-col items-center px-6 text-white">
                <h1 class="text-3xl font-semibold">Hola mundo</h1>
                <p>rum animi rem corrupti voluptate nostrum reprehenderit veniam</p>
            </div>

            <div class="flex flex-col items-center">
                <img src="images/img-dev.webp" alt="">
            </div>
        </div>

        <div class="w-full h-full flex flex-col items-center gap-5 rounded-r-2xl px-12 py-6">
            <div class="flex flex-col items-center">
                <h1 class="text-3xl font-semibold">Formulario de Registro</h1>
                <p>
                    Registrate e inicia sesion para disfrutar de todo lo que ofrecemos
                </p>
            </div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full h-auto flex flex-col gap-3 items-center" action="">
                <!-- Nombre completo -->
                <div class="input-wrapper">
                    <input type="text" formControlName="fullName" placeholder="Nombre completo" class="customize-input" maxlength="50">
                    <span class="input-message">
                    @if( form.get("fullName")?.invalid && form.get("fullName")?.touched ) {
                        @if (form.get("fullName")?.hasError("required")) {
                                Este campo es obligatorio
                            }
                        }
                    </span>
                </div>

                <!-- Tipo de documento y número -->
                <div class="input-row">
                    <div class="input-wrapper">
                    <select class="customize-input" formControlName="docType">
                        <option value="">Selecciona una opción</option>
                        <option value="C.C">C.C</option>
                        <option value="C.E">C.E</option>
                    </select>
                    <span class="input-message">
                        @if(form.get("docType")?.invalid && form.get("docType")?.touched){
                            @if(form.get("docType")?.hasError("required")) {
                                Este campo es obligatorio
                            }
                        }
                    </span>
                    </div>

                    <div class="input-wrapper">
                        <input type="text" formControlName="docNum" placeholder="Número de documento" class="customize-input" maxlength="10">
                        <span class="input-message">
                            @if(form.get("docNum")?.invalid && form.get("docNum")?.touched){
                                @if(form.get("docNum")?.hasError("required")) {
                                    Este campo es obligatorio
                                }

                                @if(form.get("docNum")?.hasError("pattern")) {
                                    El numero ingresado no es correcto
                                }
                            }
                        </span>
                    </div>
                </div>

                <!-- Fecha de nacimiento y rol -->
                <div class="input-row">
                    <div class="input-wrapper">
                    <input type="date" formControlName="birthDate" placeholder="Fecha de nacimiento" class="customize-input" maxlength="10">
                    <span class="input-message">
                        @if(form.get("birthDate")?.invalid && form.get("birthDate")?.touched){
                            @if(form.get("birthDate")?.hasError("required")) {
                                Este campo es obligatorio
                            }
                        }
                    </span>
                    </div>

                    <div class="input-wrapper">
                    <select class="customize-input" formControlName="role">
                        <option value="">Selecciona tu rol</option>
                        <option value="developer">Desarrollador</option>
                        <option value="mipyme">Mipyme</option>
                    </select>
                    <span class="input-message">
                        @if(form.get("role")?.invalid && form.get("role")?.touched){
                            @if(form.get("role")?.hasError("required")) {
                                Este campo es obligatorio
                            }
                        }
                    </span>
                    </div>
                </div>

                <!-- Celular -->
                <div class="input-wrapper">
                    <input type="text" formControlName="phone" placeholder="Celular" class="customize-input" maxlength="10">
                    <span class="input-message">
                        @if(form.get("phone")?.invalid && form.get("phone")?.touched){
                            @if(form.get("phone")?.hasError("required")) {
                                Este campo es obligatorio
                            }

                            @if(form.get("phone")?.hasError("pattern")) {
                                El numero ingresado no es correcto
                            }
                        }
                    </span>
                </div>

                <!-- Correo electrónico -->
                <div class="input-wrapper">
                    <input type="text" formControlName="email" placeholder="Correo electrónico" class="customize-input" maxlength="80">
                    <span class="input-message w-full">
                        @if(form.get("email")?.invalid && form.get("email")?.touched) {
                            @if(form.get("email")?.hasError("required")) {
                                Este campo es obligatorio
                            }

                            @if(form.get("email")?.hasError("email")) {
                                El formato de correo no es correcto
                            }
                        }
                    </span>
                </div>

                <!-- Contraseña y confirmar -->
                <div class="input-row">
                    <div class="input-wrapper">
                    <input type="password" formControlName="password" placeholder="Contraseña" class="customize-input" maxlength="10">
                    <span class="input-message">
                        @if(form.get("password")?.invalid && form.get("password")?.touched) {
                            @if(form.get("password")?.hasError("required")) {
                                Este campo es obligatorio
                            }

                            @if(form.get("password")?.hasError("pattern")) {
                                El formato es incorrecto
                            }
                        }
                    </span>
                    </div>

                    <div class="input-wrapper">
                    <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña" class="customize-input" maxlength="10">
                    <span class="input-message">
                        @if(form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched) {
                            @if(form.get('confirmPassword')?.hasError('required')) {
                                Este campo es obligatorio
                            }
                        }
                    </span>
                    </div>
                </div>

                <!-- Aceptar términos -->
                <div class="flex flex-row gap-2 items-center justify-center w-full">
                    <input type="checkbox">
                    <label>Aceptar términos y condiciones</label>
                </div>

                <button class="bg-blue-400 py-2 px-5 rounded-xl font-bold text-white" [disabled]="!form.valid">Ingresar</button>
            </form>

        </div>
    </div>

    <div class="w-full h-auto mt-auto flex gap-1 justify-end">
        <img src="icons/Logo.svg" alt="logo" class="w-10 h-10 cursor-pointer">
        <p class="text-3xl font-bold">Emprendev</p>
    </div>
</main>
