@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ffffff;
}

.fluid-horizontal-padding {
  padding-left: clamp(1rem, 10vw, 10rem);
  padding-right: clamp(1rem, 10vw, 10rem);
}

html, body{
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}