<main class="w-full flex flex-row">

    <div class="sidebar">
        <div class="sidebar-header">
            <img src="icons/Logo.svg" alt="logo">
            <h2>Emprendev</h2>
        </div>

        <ul class="sidebar-links">
            <h4>
                <span>Menu principal</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-briefcase text-2xl"></i>
                    </span>Ofertas
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-users text-2xl"></i>
                    </span>Desarrolladores
                </a>
            </li>
            <h4>
                <span>General</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-wrench text-2xl"></i>
                    </span>Ayuda 
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-external-link text-2xl"></i>
                    </span>Terminos de uso
                </a>
            </li>
            <h4>
                <span>Mi cuenta</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-user text-2xl"></i>
                    </span>Mi perfil
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-send text-2xl"></i>
                    </span>Mis solicitudes
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        <i class="pi pi-sign-out text-2xl"></i>
                    </span>Cerrar sesión
                </a>
            </li>
        </ul>

        <div class="user-account">
            <div class="user-profile">
                <img src="images/img2.jpg" alt="" class="w-14 h-14 rounded-full object-cover">
                <div class="user-detail">
                    <h3>Eva Murphy</h3>
                    <span>Web Developer</span>
                </div>
            </div>
        </div>

    </div>

    <div class="w-full h-screen p-5 flex flex-col gap-2 overflow-y-auto">
        <div class="w-full h-screen flex flex-row">
            <div class="w-7/12 h-full bg-[rgb(20,20,20)] p-6 flex flex-col gap-3">
                
                <div class="w-full flex flex-row items-center gap-5">
                    <div class="w-32 h-32 rounded-full border-4 border-white shadow-xl">
                        <img src="images/img2.jpg" alt="" class="w-full h-full object-cover rounded-full">
                    </div>

                    <div>
                        <div>
                            <h3 class="text-xl font-semibold text-white">Alexis Sanchez Osorio</h3>
                            <span class="text-gray-400">Web Developer</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-3 [&_span]:text-white  [&_p]:text-gray-400">
                    <h4 class="text-xl font-semibold text-white">Datos personales</h4>
                    <div class="w-full box-area">
                        <div>
                            <span>Fecha de nacimiento</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Tipo de documento</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Numero de documento</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Correo</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Telefono</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Direccion</span>
                            <p>Example</p>
                        </div>
                    </div>

                    <div class="py-4">
                        <h4 class="text-xl font-semibold text-white">Datos del rol</h4>
                        <div class="py-3">
                            <div>
                                <span>Descripcion</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veniam minus sed magnam est corrupti dolore repudiandae, assumenda mollitia possimus veritatis recusandae sunt deserunt maiores placeat molestias. Vero praesentium assumenda voluptatum earum autem delectus sed natus quidem minus quasi quo, beatae saepe et. Neque quae quasi architecto officiis doloribus fugiat?</p>
                            </div>
                        </div>


                        <div class="w-full box-area">
                        <div>
                            <span>Fecha de nacimiento</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Tipo de documento</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Numero de documento</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Correo</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Telefono</span>
                            <p>Example</p>
                        </div>
                        <div>
                            <span>Direccion</span>
                            <p>Example</p>
                        </div>
                    </div>

                    </div>
                </div>

            </div>

            <div class="w-full h-full bg-blue-500 p-4">
                <div>
                    <h4 class="text-xl font-semibold text-white">Formulario de edicion</h4>
                </div>
            </div>
        </div>
    </div>
</main>